<div id="banner">
  <%= link_to 'Wikinominous', articles_path, class: 'homepage' %>
  <%= link_to 'Add a new article', new_article_path, class: 'new-article' %>
</div>

<div class="container">
    <% @articles.each do |article| %>
      <article>
      <h2><%= link_to article.title, article_path(article), class: 'article-title' %></h2>
      <%= article.content %>
    </article>
    <% end %>
</div>
