/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
}

h1 {
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
}

.homepage {
  color: #5E5E5E;
  float: left;
  padding: 20px;
}

.new-article {
  color: #5E5E5E;
  float: right;
  padding: 20px;
}

.article-title:hover {
  color: orange;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.article-title {
  color: orangered
}

#banner {
  height: 60px;
  background-color: #F8F8F8;
  position: relative
}
